


   .cart {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cart-items {
    width: 100%;
    margin: auto;
  }
  
  .cart-items-title {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    text-align: center;
  }
  
  .cart-items-title span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: auto;
  }
  
  .cart-item span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart-item .remove-item {
    cursor: pointer;
    color: red;
    font-weight: bold;
  }
  

  .cart-button {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .cart-total, .cart-promocode {
    width: 48%;
  }
  
  .cart-total h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .cart-total button {
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .cart-total button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
  }
  
  .cart-total button:active {
    background-color: #d84315;
    transform: scale(0.98);
  }
  
  .cart-total-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  
  .cart-promocode p {
    margin-bottom: 10px;
  }
  
  .cart-promocode-input {
    display: flex;
    justify-content: space-between;
  }
  
  .cart-promocode-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .cart-promocode-input button {
    padding: 10px 30px;
    height: 41px;
    background-color: #c0392b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart-promocode-input button:hover {
    background-color: #e74c3c;
  }
  
  @media (max-width: 768px) {
    .cart-items-title,
    .cart-item {
      grid-template-columns: 1fr;
      text-align: left;
    }
  
    .cart-items-title span,
    .cart-item span {
      padding: 5px 0;
    }
  
    .cart-item img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  
    .cart-button {
      flex-direction: column;
    }
  
    .cart-total, .cart-promocode {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .cart-promocode-input {
      flex-direction: column;
    }
  
    .cart-promocode-input input {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 750px) {
    .cart-button {
      flex-direction: column-reverse;
    }
  
    .cart-promocode {
      justify-content: start;
    }
  }
  